{% extends 'base.html.twig' %}

{% block title %}Lieu index{% endblock %}

{% block body %}
    <h1>Lieu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pays</th>
                <th>Ville</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lieu in lieus %}
            <tr>
                <td>{{ lieu.id }}</td>
                <td>{{ lieu.Pays }}</td>
                <td>{{ lieu.Ville }}</td>
                <td>{{ lieu.Adresse }}</td>
                <td>
                    <a href="{{ path('lieu_show', {'id': lieu.id}) }}"><Button type="button" class="btn btn-info">Afficher</Button></a>
                    <a href="{{ path('lieu_edit', {'id': lieu.id}) }}"><Button type="button" class="btn btn-warning">Modifier</Button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Il n'y a aucun lieu d'enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lot_new') }}"><Button type="button" class="btn btn-success">Ajouter un lieu de vente</Button></a>
{% endblock %}
