{% extends 'base.html.twig' %}

{% block title %}Lot{% endblock %}

{% block body %}
    <h1>Lot</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lot.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ lot.Nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ lot.Description }}</td>
            </tr>
            <tr>
                <th>Prix de depart</th>
                <td>{{ lot.prixDepart }}</td>
            </tr>
            <tr>
                <th>Vendue ?</th>
                <td>{{ lot.isSold ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>
<br>
    <h4>Produits appartenant à ce lot :</h4>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix de depart</th>
            <th>Etat</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.Nom }}</td>
                <td>{{ produit.Description }}</td>
                <td>{{ produit.PrixDeDepart }}</td>
                <td>{{ produit.Etat }}</td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}"><Button type="button" class="btn btn-info">Voir le produit en détails</Button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Il n'y a aucun produit dans ce lot.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Faire une enchère</h3>


    <a href="{{ path('offre_new') }}"><Button type="button" class="btn btn-success">Enchérir</Button></a>
    <br><br><br>
    <a href="{{ path('lot_index') }}"><Button type="button" class="btn btn-danger">Retour</Button></a>

    <a href="{{ path('lot_edit', {'id': lot.id}) }}"><Button type="button" class="btn btn-warning">Modifier le lot</Button></a>

{% endblock %}
