{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ produit.Nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.Description }}</td>
            </tr>
            <tr>
                <th>Prix de depart</th>
                <td>{{ produit.PrixDeDepart }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ produit.Etat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('produit_index') }}"><Button type="button" class="btn btn-danger">Retour</Button></a>

    <a href="{{ path('produit_edit', {'id': produit.id}) }}"><Button type="button" class="btn btn-warning">Modifier le produit</Button></a>
{% endblock %}
