{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ utilisateur.Adresse }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ utilisateur.Pays }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ utilisateur.Ville }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ utilisateur.CodePostal }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ utilisateur.Password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('utilisateur_index') }}">back to list</a>

    <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>

    {{ include('utilisateur/_delete_form.html.twig') }}
{% endblock %}
